<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallster: Random Wallpapers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Wallster Logo" class="logo">
            <h1>Wallster: Random Wallpapers</h1>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
