<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wallster: Random Wallpapers</title>
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>    
<body>
    <div class="container">
        <div class="header">
            <div class="title-switch">
                <img src="{{ url_for('static', filename='images/logo_light.png') }}" 
            alt="Wallster Logo" 
            class="logo" 
             id="logo" 
            data-light="{{ url_for('static', filename='images/logo_light.png') }}" 
            data-dark="{{ url_for('static', filename='images/logo_dark.png') }}">
                <h1>Wallster | Random Wallpapers</h1> 
                <div class="dark-mode-switch" id="darkModeSwitch">
                    <input type="checkbox" id="themeSwitch" name="theme">
                    <label for="themeSwitch" id="toggleTheme">
                        <i class="fas fa-sun" id="sunIcon"></i>
                        <i class="fas fa-moon" id="moonIcon"></i>
                    </label>
                </div>
            </div>
        </div>
        <p class = "disclaimer"><u><b>DISCLAIMER</b></u><br>I do not create and/or own any of the featured wallpapers. All generated wallpapers are property of Unsplash®</p>
        <p class = "whiteonly">THANKS FOR USING DARK MODE, YOU A REAL ONE 🫡 👑</p>
        {% block content %}
        {% endblock %}
    </div>    
</body>
</html>
